.delete-room-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.delete-room-modal > span {
  font-size: medium;
}

.delete-room-modal > span > code {
  font-size: large;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.delete-room-modal > button {
  margin-top: 2rem;
  align-self: flex-end;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: medium;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}