.message {
	width: fit-content;
	max-width: 90%;
  display: flex;
	flex-direction: column;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	white-space: pre-wrap;      /* Webkit */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera <7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
}

.message-sent-by {
	font-size: small;
	font-weight: 700;
	margin-bottom: 0.2rem;
}

.message-timestamp {
	font-size: x-small;
	margin-top: 0.2rem;
}

.position-right {
	margin-left: auto;
}